*{
    margin : 0;
    font-family: "Segoe UI", Arial, sans-serif;
    border: border-box;
}  
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
.nav-logo{
    height: 60px;
}
.logo{
    background-image: url("Images/India_bazzar_logo.png");
    background-size: co;
    height: 50px;
    width: 114px;
}