*{
    margin:0;
    font-family: "Segoe UI", Arial, sans-serif;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #003d32;
    color: white;
    display: flex;
    align-items: center; /*centers logo vertically*/
    padding:0 12px;
}
.nav-logo{
    height: 60px;
    display: flex;
    align-items: center;
}
.logo{
    max-height: 75%;
    width: auto;
    object-fit: contain;
}
.nav-location{
      display: flex;
      align-items: center;
      gap: 0px;/* space between icon and text */
      padding:5px 5px;
}
/* .nav-location i{
    font-size: 18px;
} */
 .border{
    border : 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white ;
}
.loc-text{
    display: flex;
    flex-direction: column; /* stack "Deliver to" above "India" */
    line-height: 1.2; /* spacing between lines */
}
.line1 {
    font-size: 12px;
    color: #ccc;
}
.line2 {
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.nav-search{
    display: flex;
    background-color: transparent;/* remove the white box */
    align-items: center;
    height: 60%;
    overflow: hidden;/* ensures elements stay inside */
    /* max-width: 600px; */
    flex: 1;
    padding:0px 20px;
    /* border-radius: 5px; */
    margin-right: 20px;
}
#search-dropdown{
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    border: none;   /* remove default border */
    /* appearance: none; */
    width:50px;
    height:100%;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-color: #efefef;
    border-right: 1px solid black; /* separator line */
    font-size: 14px;
}
.nav-search input{
    flex:1; /* take remaining space */
    height: 100%;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 14px;
    background-color: white;
}
.search-icon{
    width:45px;
    height:100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #a9176f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon{
    margin-left: auto;
    width:40px;
}
.search-icon i{
    font-size: 14px;
    color: white;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 20px; */
    gap: 18px;
    margin-left: auto; /* 🔥 THIS pushes it to the right */
}
.nav-flyout{
     display: flex;
    align-items: center;
    gap:1px;
}
#langID{
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.nav-link-AccountList {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.nav-Orders{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.nav-Cart{
    display: flex;
    padding-left: 10px;
}
.nav-Cart i{
    font-size: 24px;
}
.header2{
    display: flex;
    font-size: 14px;
    font-weight :400;
    letter-spacing: 0.2px;
    align-items: center;
    background-color: #085749;
    color: white;
    height: 40px;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    margin-right: auto;
    
}
.header2 i{
    font-size: 18px;
    /* margin-left: px;
    margin-right: 5px; */
    
}
.head2{
    /* margin-left: 2px;
    margin-right: 18px; */
    padding : 9px 10px 9px 10px;
    cursor: pointer;
    /* margin-right: 5px;*/
} 
.fullscreen-image {
    width: 100vw;       /* viewport width */
    height: 100vh;      /* viewport height */
    object-fit: cover;  /* crop but fill container */
}



